* {
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* FUENTES */
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

.app {
    background: #f3f3f3;
    color: #15202B;
    transition: background 0.3s ease-in-out;
}

.dark {
    background: #192734;
    color: #f3f3f3;

}

header {
    background: #c3c3c3;
    transition: background 0.3s ease-in-out;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggler {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #15202B;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.toggler:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .toggler{
    background: #2196F3;
}

input:focus + toggler {
    box-shadow: 0 0 2px #2196F3;
}

input:checked + .toggler:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.toggler.round {
    border-radius: 34px;
}

.toggler.round:before {
    border-radius: 50%;
}

.dark header {
    background: #15202B;
}

header h1 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
}

#logo {
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px;
}

#logo img {
    display: block;
    float: left;
    height: 60px;
    margin-top: -10px;
    animation: latir infinite 5s linear;
}

@keyframes latir {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.02, 1.02);
    }

    55% {
        transform: scale(0.95, 0.95);
    }

    100% {
        transform: scale(1, 1);
    }
}

.center {
    width: 75%;
    margin: 0px auto;
}

.clearfix {
    clear: both;
    float: none;
}

#menuf {
    width: 70%;
    float: right;
    font-size: 18px;
}

#menuf ul {
    line-height: 85px;
    width: 60%;
}

#menuf ul li {
    display: inline-block;
    list-style: none;
    height: 46px;
    margin-left: 15px;
    margin-right: 15px;
}

#menuf a {
    text-decoration: none;
    color: #444;
    transition: 300ms all;
}

#menuf a:hover,
#menuf .active {
    color: #159bb3;
}


.btn-warning {
    background: rgb(245, 229, 6) !important;
    color: white !important;
}
  
.btn-danger {
    background: rgb(201, 7, 7) !important;
    color: white !important;
}

.image-small {
    width: 100px;
}

#slider {
    height: 300px;
    width: 100%;
    color: white;
    text-shadow: 0px 0px 5px #444;

    /*DEGRADADO CSS*/

    background: rgb(131, 154, 254);
    background: radial-gradient(circle, rgb(131, 184, 254) 0%, rgb(4, 122, 201) 100%);
}

#slider h1 {
    margin-top: 0.2px;
    padding: 0;
    padding-top: 130px;
    text-align: center;
}

.login {
    padding: 2rem;
}

.register {
    padding: 2rem;
}

.title {
    text-align: center;
}

.form {
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    min-width: 350px;
    max-width: 100%;
    background: rgba(19, 35, 47, 0.9);
    border-radius: 5px;
    padding: 40px;
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.3);
}

.form-label {
    margin-top: 2rem;
    color: white;
    margin-bottom: 0.5rem;
}

.form-input {
    padding: 10px 15px;
    background: none;
    background-image: none;
    border: 1px solid white;
    color: white;
}

.form-submit {
    background: #1ab188;
    border: none;
    color: white;
    margin-top: 3rem;
    padding: 1rem 0;
    cursor: pointer;
    transition: background 0.2s;
}

.error {
    margin: 1rem 0 0;
    color: #ff4a96;
}

.msg {
    margin-top: 3rem;
    text-align: center;
}

#slider.slider-small {
    height: 150px;
}

#slider.slider-small h1 {
    margin-top: 0.2px;
    padding: 0;
    padding-top: 53px;
    text-align: center;
}

#content {
    width: 70%;
    float: left;

    min-height: 650px;
    margin-right: 25px;
}

#sidebar {
    width: 25%;
    float: left;

}

.sidebar-item {
    padding: 20px;
    margin-top: 30px;
}

.sidebar-item h3 {
    text-transform: uppercase;
    font-size: 19px;
    margin: 0;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #eee;
}

.sidebar-item .btn {
    margin: 0px auto;
    margin-top: 10px;
    
}

.btn {
    display: block;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    max-width: 120px;
    transition: 300ms all;
    border: none;
    cursor: pointer;
}

input[type="text"], textarea{
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 5px;
    transition: 300ms all;
}

input[type="text"]:focus{
    box-shadow: 0px 0px 2px #ccc inset;
}

textarea{
    width: 100%;
    max-width: 100%;
    max-height: 300px;
    min-width: 100%;
    height: 150px;
    min-height: 150px;
}

.radiobuttons {
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}

.mid-form{
    width: 50%;
    margin: 0 auto;
}

.mid-form label {
    text-align: left;
    display: block;
    float: left;
    margin-bottom: 5px;
    font-size: 17px;
    margin-top: 10px;
}

#footer {
    width: 100%;
    height: 1em;
    line-height: 70px;
    color: #444;
}

#footer li {
    margin: 0;
    padding: 0;
}

.post-item {
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
}

.post-item .image-wrap {
    width: 130px;
    height: 130px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    border: 1px solid #ccc;
}

.post-item .image-wrap img {
    height: 100%;
    text-align: center;
}

.post-item h2 {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 7px;
}

.post-item .date {
    display: block;
    width: 100%;
    
}

.post-item a {
    display: block;
    color: rgb(68, 90, 112);
    text-decoration: none;
    margin-top: 10px;
}

.post-item a:hover {
    text-decoration: underline;
    color: rgb(68, 90, 112);
}

.subheader {
    font-size: 38px;
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.post-detail .image-wrap {
    float: none;
    width: 100%;
    height: 100%;
}

.post-detail .image-wrap img {
    width: 100%;
    height: auto;
}

.post-detail .subheader {
    margin-top: 15px;
    margin-bottom: 0px;
    border: none;
}



/* Responsive */

/*Desde la anchura 1314px hasta la anchura 1488px de pantalla se ejecutaran estos estilos*/
@media (max-width: 1488px) {
    .center{
        width: 85%;
    }
}

@media (max-width: 1314px) {
    .center{
        width: 95%;
    }

    #menu ul{
        width: auto;
    }
}

@media (max-width: 881px) {
    #logo {
        width: 265px;
    }

    #menu {
        width: auto;
    }
}


@media (max-width: 813px) {
    #logo {
        float: none;
        margin: 0 auto;
        margin-top: 20px;
    }

    #menu,
    #menu ul{
        clear: both;
        float: none;
        width: 100%;
        margin: 0;
        padding: 0;
        line-height: 43px;
    }

    #sidebar {
        float: none;
        width: 60%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    #slider h1 {
        padding-top: 115px;
        font-size: 25px;
    }
}

@media (max-width: 497px) {
    #header {
        min-height: 130px;
        overflow: hidden;
    }

    #menu,
    menu ul{
        line-height: 50px;
    }

    #menu ul li {
        margin-left: 7px;
        margin-right: 7px;
    }

    #slider{
        height: 180px;
    }

    #slider h1{
        font-size: 19px;
        padding-top: 30px;
    }

    #slider .btn-white{
        margin-top: 20px;
    }

    #slider.slider-small{
        height: 100px;
    }

    #slider.slider-small h1{
        padding-top: 35px;
    }

    .mid-form{
        width: 70%;
    }
}